/* Reset some basic elements */
body, h1, h2, button, p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #00AEEF;
  color: white;
}

.navbar {
  background-color: #A2D9CE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 0.5em;
  width: 50px; /* 或你需要的大小 */
  height: auto; /* 保持图像的比例不变 */
}

.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  position: relative;
  border: 1px solid transparent;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.navigation a:hover:after {
  opacity: 1;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.icon-button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

/* Main styles */
/* Reset basic elements */
body, h1, h2, button, p {
  margin: 0;
  padding: 0;
}

/* Main styles */
main {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.tab-container {
  display: inline-flex;
  padding-left: 0px;
  border: 1px solid black; /* Adds a black border */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow */
}

.tab {
  padding: 10px 20px;
  border: 1px solid black;
  margin-right: 0px; /* Negative margin to remove the gap between tabs */
  background: white;
  cursor: pointer;
}



.tab:hover,
.tab.active {
  background-color: #AED6F1;
}

/* Image and text/details container styling */
.left-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-content {
    display: flex;
}

.image-container {
  width: 100%;
  border: 2px solid black;
  border-right: 2px solid black;
  box-sizing: border-box;
}

.combined-text-details {
  display: flex;
  margin-top: 0px;
  border-top: 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; /* Should match the width of image-container */
  box-sizing: border-box; /* Makes sure padding and borders are included in the width */
  padding: 20px;
}

.text-container {
  width: 100%; /* Full width of the content-section */
  margin-bottom: 20px; /* Space between text and details */
  padding: 10px;
}

.details-container {
  width: 70%; /* Full width of the content-section */
  padding: 10px;
  flex-grow: 1;
}

/* Detail section styling */
.detail {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 5px;
}

.main-container {
    display: flex;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    width: 70%;
}

.right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.responsive-image {
    width: 100%;
    display: block;
}

.user-image-module, .settings-image-module {
    width: 120%;
    display: block;
}

.user-image-module {
  display: flex;
  align-items: center; /* Vertically centers the image in the flex container */
  justify-content: center; /* Horizontally centers the image in the flex container */
  /* Add padding if you want some space inside the module around the image */
  padding: 0px; /* Adjust the padding as needed */
  margin: -50px 15px 20px 30px;
}

.user-image-module img {
  max-width: 100%; /* Ensures the image is not larger than the container */
  max-height: 150px; /* Adjust the height as needed */
  object-fit: contain; /* Ensures the aspect ratio is maintained without cropping */
}

.settings-image-module {
  flex-grow: 1;
  display: flex;
  align-items: center; /* Vertically centers the image in the flex container */
  justify-content: center; /* Horizontally centers the image in the flex container */
  padding: 0; /* No padding inside the module */
  margin-top: 10px; /* Space from the top of the parent container or the preceding element */
  margin-bottom: -30px; /* Space from the bottom of the parent container or the next element */
  margin-left: 10px; /* Space from the left side of the parent container */
  margin-right: 10px; /* Space from the right side of the parent container */
  margin: 10px 15px 20px 30px;

}

.settings-image-module img {
  max-width: 100%; /* Ensures the image is not larger than the container */
  max-height: 583px; /* Adjust the height as needed */
  object-fit: contain;
}


.footer-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px; /* Adjust padding as needed */
    border-top: 2px solid black; /* Top border line */
    margin-top: -18px;
}

.left-footer {
    display: flex;
    flex-direction: column;
}

.footer-text {
    font-size: 16px; /* Adjust size as needed */
    font-weight: bold;
    margin-bottom: 10px; /* Space between the text and icons */
}

.payment-icons i {
    font-size: 24px; /* Adjust the font size to make the icons larger */
    margin-right: 15px; /* Adds space between the icons */
  color: #A6ACAF;
}


.right-footer {
    display: flex;
    align-items: center;
}

#favourite {
    padding: 5px 10px; /* Adjust padding as needed */
    margin-right: 10px; /* Space between the text input and the button */
}

.add-button {
    padding: 5px 15px; /* Adjust padding as needed */
    background-color: #6FAEDD; /* Button background color */
    color: white; /* Button text color */
    border: none;
    cursor: pointer;
}
