.main-container {
    display: flex;
}

/* Sidebar styles */
.sidebar {
    flex: 1; /* This gives the sidebar 1/5 of the space */
    background-color: #F2F3F4;
    padding: 10px;
    border-right: 0px solid #ccc;
}

.tour-list h3 {
    margin-bottom: 10px;
}

.tour-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px; /* 根据实际情况调整内边距 */
}

/* 确保悬停样式不会覆盖高亮样式 */
.tour-item.highlight {
  background-color: #F8C471; /* 正确的黄色背景高亮 */
  font-weight: bold; /* 加粗字体 */
}

.tour-item.highlight:hover {
  background-color: #F1C40F; /* 高亮颜色保持不变即使在悬停时 */
}


/* Reset some basic elements */
body, h1, h2, button, p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #00AEEF;
  color: white;
}

.navbar {
  background-color: #A2D9CE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 0.5em;
  width: 50px; /* 或你需要的大小 */
  height: auto; /* 保持图像的比例不变 */
}

.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  position: relative;
  border: 1px solid transparent;
}

.navigation a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.navigation a:hover:after {
  opacity: 1;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.icon-button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

/* Main styles */
/* Reset basic elements */
body, h1, h2, button, p {
  margin: 0;
  padding: 0;
}

/* Main styles */
main {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.tab-container {
  display: inline-flex;
  padding-left: 0px;
  border: 0px solid black; /* Adds a black border */
}

.tab {
  padding: 10px 20px;
  border: 0px solid black;
  margin-right: 0px; /* Negative margin to remove the gap between tabs */
  background: white;
  cursor: pointer;
}



.tab:hover,
.tab.active {
  background-color: #AED6F1;
}

/* Image and text/details container styling */
.left-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-content {
    display: flex;
}

.image-container {
  width: 100%;
  border: 2px solid black;
  border-right: 2px solid black;
  box-sizing: border-box;
}

.combined-text-details {
  display: flex;
  margin-top: 0px;
  border-top: 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; /* Should match the width of image-container */
  box-sizing: border-box; /* Makes sure padding and borders are included in the width */
  padding: 20px;
}

.text-container {
  width: 100%; /* Full width of the content-section */
  margin-bottom: 20px; /* Space between text and details */
  padding: 10px;
}

.details-container {
  width: 70%; /* Full width of the content-section */
  padding: 10px;
  flex-grow: 1;
}

/* Detail section styling */
.detail {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 5px;
}

.main-container {
    display: flex;
}

.left-column, .right-column {
    display: flex;
}

.left-column {
    width: 60%;
    margin-top: auto;
}

.right-column {
    width: 20%；
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
}

.combined-text-details, .settings-image-module {
  display: flex;
  align-items: flex-end;
}


.responsive-image {
    width: 100%;
    display: block;
}

/* Styles for the container above the columns */
.top-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px; /* Space before the columns start */
}


/* Styles for the Members Module */
.members-module {
    flex: 2; /* Take up the remaining space */
    margin-left: 5px; /* Add space between the two modules */
    border: 1px solid #ccc;
  padding: 20px; /* 这里加大内边距来给上方的标签留出空间 */
  padding-top: 10px; /* 为浮动标签留出额外的空间 */
  position: relative; /* 为绝对定位的子元素设置参照点 */
  margin-top: 20px; /* 根据需要调整 */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.members-title {
  background: #cccccc; /* 设置背景色为灰色 */
  padding: 5px 10px; /* 根据需要调整内边距 */
  position: absolute; /* 绝对定位 */
  top: -20px; /* 向上偏移，根据需要调整 */
  left: 10px; /* 左侧偏移，根据需要调整 */
  font-weight: bold; /* 文字加粗 */

  /* 创建梯形的样式 */
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
}

.member-icons {
  display: flex; /* 使用Flex布局 */
  justify-content: space-evenly; /* 图标间的间距均匀分布 */
  align-items: center; /* 垂直居中对齐 */
  width: 100%; /* 占满整个父容器的宽度 */
  margin-top: 10px; /* 距离上方的距离 */
}

/* Ensure the main content is correctly styled */
.main-content {
    display: flex;
}

/* Styles for the left and right columns */
.left-column {
    width: 60%;
    margin-top: auto;
}

.right-content {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto; /* Adjust as needed */
}



.button-container {
  display: flex;
  justify-content: space-around; /* Or 'space-between' if you want them at the edges */
  padding: 10px 0; /* Adjust as needed */
}

.favourite-button, .add-button {
  padding: 5px 10px;
  border: 1px solid #ccc; /* Adjust border as needed */
  background-color: #f0f0f0; /* Adjust background color as needed */
  font-weight: bold; /* If you want the text to be bold */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional: Add some space between the buttons */
.favourite-button {
  margin-right: 10px; /* Adjust as needed */
  background-color: #F9E79F;
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 12px;
}

.add-button {
  background-color: #A2D9CE;
  margin-left: 10px; /* Adjust as needed */
  padding: 10px;
  width: 150px;
  border: 2px;
  border-radius: 12px;
  text-decoration: none; 
}

/* Adjust font sizes and icon padding if necessary */
.favourite-button i, .add-button i {
  margin-right: 5px; /* Space between icon and text */
}


/* CSS rules for .sidebar, .tour-plan, h3 remain unchanged */

.tour-plan .tour-detail {
  display: flex;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.tour-detail {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.date-label2 {
  margin-left: 10px;
}

.date-label2 i {
  color: #4CAF50; /* Replace with your desired color */
}

.tour-plan .tour-detail {
  display: flex;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
}


.tour-item {
  border-bottom: 1px dashed #ccc;
  padding: 10px;
}


.tour-plan-header {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  margin-bottom:5px;
}

.tour-item-end {
  padding: 10px;
  margin-bottom: 140px;
}

.tour-plan {
  border: 1px solid black; /* 添加黑色边框 */
  padding: 20px; /* 添加内边距，根据需要调整 */
  margin: 20px 0; /* 添加上下外边距，根据需要调整 */
  background-color: white; /* 设置背景色为白色 */
  max-width: calc(100% - 20px); /* 减去内边距，确保不超过侧边栏 */
}

.date-text {
  padding-left: 20px; /* Indent the date value */
}

/*x*/
.item-icon {
  margin-right: -20px; /* 减小间距，您可以调整这个值 */
}


.right-content {
  display: flex;
  flex-direction: column;
}

.module {
  margin-top: 0px;/* Add space between modules */
  height: 30px;
  margin-bottom: 20px;
  width:  80%;
  margin-bottom: 100px;
}

.module h4 {
  text-align: left;
  margin-bottom: 10px; /* Add space between the title and the image */
  margin-left: 40px;
  margin-top: 75px;
}

 .module img {
  border: 2px solid black;
  display: block;
  margin: 0px;
  margin-left: 40px;
  width: 90%;
  height: 93px;
}


.more-button {
  padding: 10px 30px; /* Adjust padding as needed */
  background-color: #00AEEF; /* Match your color scheme */
  color: white; /* Text color */
  border: none;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 80px;
  background-color: #117864;
  border: none;
  border-radius: 5px;
  width: 100px;
}
